<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" class="scroll-smooth">
<head>
    <meta charset="UTF-8" />
    <title th:replace="${pageTitle} ?: 'Admin Backoffice'">Admin Backoffice</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css" rel="stylesheet" />
</head>
<body class="bg-black text-green-400 font-mono min-h-screen flex flex-col">
<div class="flex flex-1">
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <div class="flex flex-col flex-grow">
        <div th:replace="fragments/header :: header"></div>
        <main class="p-8 flex-grow overflow-auto">
            <div th:replace="${content}"></div>
        </main>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>
</body>
</html>
