<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="pagination(pagination)">
    <div class="inline-flex space-x-2">
        <a th:href="@{__${pagination.number > 0 ? '?page=' + ${pagination.number - 1} : ''}__}"
           class="px-3 py-1 border rounded-md hover:bg-green-800" th:if="${pagination.hasPrevious()}">이전</a>

        <span th:text="${pagination.number + 1} + ' / ' + ${pagination.totalPages}"></span>

        <a th:href="@{__${pagination.number + 1 < pagination.totalPages ? '?page=' + ${pagination.number + 1} : ''}__}"
           class="px-3 py-1 border rounded-md hover:bg-green-800" th:if="${pagination.hasNext()}">다음</a>
    </div>
</div>
