<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="pagination(pagination)">
    <div class="inline-flex space-x-2">
        <a th:if="${pagination.hasPrevious()}"
           th:href="@{'?page=' + (${pagination.number} - 1)}"
           class="px-3 py-1 border rounded-md hover:bg-green-800">이전</a>

        <span class="px-3 py-1 border rounded-md bg-green-700 text-black"
              th:text="${pagination.number + 1} + ' / ' + ${pagination.totalPages}"></span>

        <a th:if="${pagination.hasNext()}"
           th:href="@{'?page=' + (${pagination.number} + 1)}"
           class="px-3 py-1 border rounded-md hover:bg-green-800">다음</a>
    </div>
</div>

