<aside id="adminSidebar"
       th:fragment="sidebar"
       class="fixed top-0 right-0 bg-black text-green-400 font-mono w-64 h-full border-l border-green-700 p-6 select-none transform translate-x-full transition-transform duration-300 z-50"
       onmouseenter="cancelSidebarHide()" onmouseleave="hideSidebar()">
    <nav class="flex flex-col space-y-4 text-sm">
        <a href="/" sec:authorize="hasAnyRole('ADMIN', 'SUPER_ADMIN')" class="hover:text-green-500 transition font-semibold">대시보드</a>
        <a th:href="@{/admin/user}" sec:authorize="hasAnyRole('ADMIN', 'SUPER_ADMIN')" class="hover:text-green-500 transition font-semibold">회원 관리</a>
        <a th:href="@{/audit/logs}" sec:authorize="hasAnyRole('ADMIN', 'SUPER_ADMIN')" class="hover:text-green-500 transition font-semibold">회원관리 로그</a>
        <a th:href="@{/admin/products}" sec:authorize="hasAnyRole('ADMIN', 'SUPER_ADMIN')" class="hover:text-green-500 transition font-semibold">상품 관리</a>
        <a th:href="@{/admin/user/orderList}" sec:authorize="hasAnyRole('ADMIN', 'SUPER_ADMIN')" class="hover:text-green-500 transition font-semibold">회원 주문 목록</a>

        <a th:href="@{/user/products}" sec:authorize="hasRole('USER')" class="hover:text-green-500 transition font-semibold">상품 목록</a>
        <a th:href="@{/cart/view}" sec:authorize="hasRole('USER')" class="hover:text-green-500 transition font-semibold">장바구니</a>
        <a th:href="@{/order/history}" sec:authorize="hasRole('USER')" class="hover:text-green-500 transition font-semibold">주문 목록</a>
        <a th:href="@{/user/logout}" class="text-green-600 hover:text-green-400 transition">
            로그아웃
        </a>

    </nav>
</aside>
